<div class="card">
    <div class="card-img">
        <a href="{{url_for('posts.post', post_id=post.id)}}">
            <img src="{{url_for('static', filename='assets/posts/'+post.image_file) }}" alt="{{post.title}}">
        </a>
    </div>
    <div class="card-body">
        <h5 class="card-title">
          <a href="{{url_for('posts.post', post_id=post.id)}}">
            {{ post.title }}
          </a>
        </h5>
        <p class="card-text">{{ post.content }}</p>
        <p class="card-text">
            <div class="rounded-circle article-img" style="background:url({{url_for('static', filename='assets/users/'+post.author.image_file) }}) no-repeat center"></div>
            <a class="mr-2" href="{{url_for('users.user_posts', username=post.author.username)}}">
                {{ post.author.username }}
            </a>
            <small class="text-muted">~ {{ post.date_posted.strftime('%d %h %Y') }}</small>
        </p>
    </div>
</div>
