{% extends 'base.html' %}
{% block content %}
    <h2 class="main-title">About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias nesciunt odio ipsum facere maiores asperiores culpa libero! Fuga ullam, modi reiciendis nostrum esse nobis, dolores atque nihil a, repellat maxime.</p>
    <p>Ad, sed. Blanditiis, impedit magnam quam sequi culpa! Quidem autem accusamus, in dicta adipisci, vel aut cupiditate voluptatum nihil, necessitatibus nobis commodi! Porro minima, veritatis hic voluptatibus asperiores praesentium labore!</p>
    <p>Maiores ea ratione quia quos accusamus corrupti eius aut nisi odio repudiandae explicabo molestiae mollitia tenetur veniam, libero facere rem! Sit adipisci fugit quaerat, iusto aliquam consequatur dicta fuga atque.</p>
{% endblock %}
